html{
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}
body{
    background-color: #3D3B40;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body > div {
    height: 614px;
    width: 100%;
    border: 1px solid beige;
    scroll-snap-align: center;
}

body::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: montserrat;
    src: url(/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.heading{
    top: 0px;
    height: 40px;
    width: 100%;
    padding-top: 15px;
    background-color: #3D3B40;
    box-shadow: 5px 10px 18px #2a282c;
    border: none;
    position: fixed;
    z-index: 900;
}

.heading > .navigation{
    margin: auto;
    width: fit-content;
}

a:link, a:visited, a:hover, a:active{
    font-family: montserrat;
    font-size: 20px;
    text-decoration: none;
    color: #BFCFE7;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.home{
    contain: content;
}                

.intro > p{
    font-family: montserrat;
    color: white;
    font-size: 60px;
    font-weight: 500;
    padding-left: 60px;
    margin-top: 200px;
    margin-bottom: 10px;
}

.intro > pre{
    font-family: montserrat;
    color: #BFCFE7;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    padding-left: 60px;
}

.skills{
    
}

.contact{
    
}

.about{
    
}