html{
    scroll-behavior: smooth;
}
body{
    background-color: #3D3B40;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body > div {
    height: 614px;
    width: 100%;
    border: 1px solid beige;
}

body::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: montserrat;
    src: url(/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.heading{
    top: 0px;
    height: 40px;
    width: 100%;
    padding-top: 15px;
    background-color: #3D3B40;
    box-shadow: 5px 10px 18px #2a282c;
    border: none;
    position: fixed;
    z-index: 900;
}

.heading > .navigation{
    margin: auto;
    width: fit-content;
}

a:link, a:visited, a:hover, a:active{
    font-family: montserrat;
    font-size: 20px;
    text-decoration: none;
    color: #BFCFE7;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.home{
    contain: content;
}                

.intro > p{
    font-family: montserrat;
    color: white;
    font-size: 60px;
    font-weight: 500;
    padding-left: 60px;
    margin-top: 200px;
    margin-bottom: 10px;
}

.intro > pre{
    font-family: montserrat;
    color: #BFCFE7;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 300;
    padding-left: 60px;
}

.skill_container{
    height: 100%;
    width: 100%;
    contain: content;
    padding-top: 110px;
}

.skill_container > div{
    position: relative;
    display: inline-block;
    margin-top: 100px;
}

.skill_container > div > p{
    font-family: montserrat;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 20px;

}

progress{
    border-radius: 5px;
    width: 350px;
    margin-left: 10px;
    margin-right: 40px;
}

progress::-webkit-progress-bar {
    background-color: #BFCFE7;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #525CEB;
    border-radius: 5px;
}

.contact{
    
}

.about{
    
}